* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  /* max-width: 100vw; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style: none;
}
/* Container Styling */
.app {
  display: flex;
  border: 2px solid purple;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}
.sidebar-container {
  border: 2px solid black;
  max-width: 25%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  
}
.sidebar-option-container {
display: flex;
/* border: 2px solid green; */
justify-content: flex-start;
padding: 10px;
border-radius: 2rem;
}
.sidebar-option-container:hover {
  background-color: rgba(29, 154, 250, 0.203);
  cursor: pointer;
}
.feed-container {
  border: 2px solid blue;
  max-width: 50%;
  width: 50%
}
.widget-container {
  border: 2px solid green;
  max-width: 25%;
  width: 25%
}
.draft-post-container {
  border: 2px solid green;
}

/* App-wide elements*/
.avatar {
  border-radius: 3rem;
  border: 1px solid black;
  height: 65px;
  width: 65px
}
.user-info {
  display: flex;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px
}
.user-text-info {
  display: flex;
  flex-direction: column;
}
.username {
  font-weight: bold;
}
.handle {
  color: rgb(113,118,123)
}
/* Sidebar / Sidebar Options Styling */
.twitter-logo {
  padding-bottom: 10px;
  height: 70px;
  padding-right: 100px;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 20px;
  /* border: 2px solid salmon; */
}
.sidebar-opt-text {
text-align: left;
align-content: left;
/* border: 2px solid salmon; */
align-self: center;
font-size: 1.3rem;
}
.sidebar-opt-text:hover {
  cursor: pointer;
}
.icon {
  width: 30px;
  padding-right: 20px
}
.compose-twt-btn {
  width: 200px;
  height: 50px;
  border-radius: 2rem;
  border: none;
  background-color: rgb(29,155,250);
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 20px 
}
.mobile-compose-btn {
  display: none;
  margin-bottom: 20px 
}

.sidebar-user-info {
  padding-top: 150px;
}

/* Feed Styling */
/* Draft Post */
.draft-tweet-input {
border: 2px solid blue;
}
.post-options {
  border: 2px solid pink;
  display: flex;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding: 0;
  max-width: 60%;
  width: 60%;
  justify-content: flex-start;
  gap: 1rem;

}
.post-options li {
  border: 2px solid lavender;
  
}
.tweet-draft-input {
  border: 2px solid green;
  height: 65%;
  width: 100%;
}
.tweet-info {
  /* height: 75%; */
  width: 90%;
  border: 2px solid blue;
}
.draft-tweet-input-wrapper {
  display: flex;
  border: 2px solid powderblue;
  height: 120px;
}
.tweet-info div{
display: flex;
height: 35%;
padding: 0;
border: 2px solid orange;
justify-content: space-between;
}
.draft-post-avatar {
  border: 2px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  min-width: 50px;
  /* padding-left: 10px; */
}
.draft-tweet-btn {
  width: 75px;
  background-color: rgb(29,155,250);
  color: white;
  border-radius: 2rem;
  border: none;
  font-size: 1rem;
}
/* Responsiveness */
@media screen and (max-width: 960px) {
  .widget-container {
    display: none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
  }
  .sidebar-container {
    padding: 20px 0;
  }
  .feed-container {
    max-width: 75%;
    width: 75%;
  }
.twitter-logo {
  padding-left: 85px;
}
.compose-twt-btn {
  display: none;
}
.mobile-compose-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 3rem;
  border: none;
  background-color: rgb(29,155,250);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 24px;
  margin-bottom: 150px;
}
.user-text-info {
  display: none;
}
.user-info {
  /* border: 3px solid yellow; */
  width: 75px
}
.sidebar-option-container {
  padding: 5px;
}
.sidebar-option-container:hover {
  background-color: inherit;
}
.tweet-info {
  width: 80%;
}
.draft-post-avatar {
  width: 20%;
}
}

@media screen and ( max-width: 700px){
  .sidebar-opt-text {
    display: none;
  }
  .tweet-info {
    width: 75%;
  }
  .draft-post-avatar {
    min-width: 25%;
  }
  .post-options {
    gap: 0;
  }
}
@media screen and (max-width: 1450px) {
  .tweet-info {
    width: 85%;
  }
  .draft-post-avatar {
    width: 15%;
  }
}